body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding: 1em;
}

.icon-link{
    color: #333;

}
/*when you hover over the text*/
.icon-link:hover{
color: #F00;
}

.button-link{
    color: #333;
    text-decoration: none;/*gets rid of underline*/

    border-width: 1px;
    border-style: solid;
    border-color: #222;
    border-radius: 4px;/*rounded effect on the corners*/


    padding: 0.5em 1em; /*refers to the height of the current font*/

    transition: all 500ms; /*animate the color change over half a second(FADEEEEEE)*/

}
.button-link:hover{
    color:#777;
    background-color: #444;
}

@keyframes fadeIn{
    from{
        opacity: 0;/*fully transparent*/
    }
    to{
        opacity: 1; /*fully opaque*/
    }
}

.fadeIn{
    animation-name: fadeIn;
    animation-duration: 1s;
}

